<!DOCTYPE html>
<html>

<head>
	<title>BudgetLess</title>

<link rel="stylesheet" href="static/main.css"/>

</head>

<body>

<div id='content'>
	<div id='leftpane'>
		<h1>Budget<i>Less</i></h1>
		<span id='sync_status' class='sync_status'></span>
		<div id='month_list'>

		</div>
		<!-- <div> TODO!
			Settings
		</div> -->
	</div>

	<div id='body'>

		<div id='toppane' class='pane toppane'>
	    <div class="card card-block fill flexbox">
				<div id='toppane_inner'>
		    	{% block toppane %}
					{% endblock %}
				</div>
	    </div>
		</div>

		<div id='botpane' class='pane botpane'>
	    <div class="card card-block fill flexbox">
				<div id="botpane_inner">
					{% block bottompane %}
					{% endblock %}
				</div>
	    </div>
	  </div>
	</div>
</div>

<script src="static/jquery-2.2.2.min.js"></script>
<script src="static/jquery.blockUI.js"></script>
<script src="static/jquery-dateFormat.min.js"></script>
<script src="static/plotly.min.js" > </script>
<script src='static/main.js'></script>
<script>
$.blockUI.defaults.css = {};
$( document ).ready(function() {
	showYearSummary("{{ year }}");
	showWeekChart("{{ date }}");
	showSyncStatus();
});
</script>
</body>

</html>
